<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="{{ '/img/favicon.ico' | url }}"/>
<meta name="theme-color" content="#2F3E46">
<link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
<link rel="stylesheet" href="{{ '/css/bootstrap.css' | url }}">
<link rel="stylesheet" href="{{ '/css/portfolio.css' | url }}">
<link rel="stylesheet" href="{{ '/css/font-awesome.css' | url }}">


<script src="{{ '/js/jquery.min.js' | url }}"></script>
<!-- <script src="{{ '/' | url }}/js/popper.min.js"></script> -->
<script src="{{ '/js/bootstrap.bundle.min.js' | url }}"></script>
{% include "analytics.html" %}
