<footer role="contentinfo" class="site_footer" id="footer">
    <div class="footer_copyright"> ThemeREX &copy; 2013 All Rights Reserved </div>
  </footer>
</div>
<!-- #page --> 

<!-- connect js --> 
<script type="text/javascript" src="{{ base }}js/jquery.min.js"></script> 
<script type="text/javascript" src="{{ base }}js/jquery.tools.custom.js"></script> 
<script type="text/javascript" src="{{ base }}js/jquery.flexslider.min.js"></script> 
<script type="text/javascript" src="{{ base }}js/jquery.prettyPhoto.js"></script> 
<script type="text/javascript" src="{{ base }}js/jquery.isotope.min.js"></script> 
<script type="text/javascript" src="{{ base }}js/jquery.cookie.js"></script> 
<script type="text/javascript" src="{{ base }}js/mediaelement.min.js"></script> 
<script type="text/javascript" src="{{ base }}js/jquery.qrcode-0.6.0.min.js"></script> 
<script type="text/javascript" src="{{ base }}js/googlemap_init.js"></script> 
<script type="text/javascript" src="{{ base }}js/jquery.easing.js"></script> 
<script type="text/javascript" src="{{ base }}js/jquery.reject.js"></script> 
<!-- <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>  -->
<script type="text/javascript" src="{{ base }}js/utils.js"></script> 
<script type="text/javascript" src="{{ base }}js/lib.js"></script>