<footer class="odd-section long-section" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="{{ base }}img/BSM.png" alt="Blue Square Monster" width="54" height="64">
      </div>
      <div class="col-6 col-md">
        <h5>Legal Notice</h5>
        <ul class="list-unstyled text-small">
          <li class="text-muted">Copyright © {{ site.time | date: '%Y' }}</li>
          <li class="text-muted">Javier Bullrich</li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Contact</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="mailto:{{ site.user.email }}">Email</a></li>
          <li><a class="text-muted" href="https://www.linkedin.com/in/{{ site.user.linkedin }}" rel="noreferrer">Linkedin</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Connect</h5>
        <a href="mailto:{{ site.user.email }}" target="_blank" rel="noreferrer"> 
          <i class="fa fa-envelope fa-3x media-circle" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/{{ site.user.github }}" target="_blank" rel="noreferrer">
          <i class="fa fa-github-alt fa-3x media-circle" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/{{ site.user.linkedin }}" target="_blank" rel="noreferrer">
          <i class="fa fa-linkedin fa-3x media-circle" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <script src="{{ base }}js/jquery-3.5.1.min.js"></script>
  <script src="{{ base }}js/popper.min.js"></script>
  <script src="{{ base }}js/bootstrap.bundle.min.js"></script>
</footer>
