<!-- taken from https://bootstrap-menu.com/detail-smart-hide.html -->
<nav class="navbar smart-scroll navbar-expand-lg navbar-dark odd-section">
  <div class="container">
    <a class="navbar-brand" href="#title">Javier Bullrich</a>

    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="#about"> About </a></li>
        <li class="nav-item"><a class="nav-link" href="#experience"> Experience </a></li>
        <li class="nav-item"><a class="nav-link" href="#work"> Work </a></li>
        <li class="nav-item"><a class="nav-link" href="/blog"> Blog </a></li>
      </ul>
    </div> <!-- navbar-collapse.// -->
  </div>
</nav>