<!-- PORTFOLIO -->
          <section class="section portfolio_section odd" id="portfolio">
            <div class="section_header portfolio_section_header">
              <h2 class="section_title portfolio_section_title"><a href="#"><span class="icon icon-briefcase"></span><span class="section_name">Portfolio</span></a><span class="section_icon"></span></h2>
            </div>
            <div class="section_body portfolio_section_body">
              <div class="portfolio_wrapper">
                Click on the title of the image for more information
                <ul id="portfolio_iso_filters">
                  <li><a class="current" data-filter="*" href="#">All</a></li>
                  <li><a data-filter=".unity" href="#">Unity</a></li>
                  <li><a data-filter=".automation" href="#">Automation</a></li>
                  <li><a data-filter=".other" href="#">Other</a></li>
                </ul>
                <div class="portfolio_items">

                  {% for portf in site.posts %}
                    <article class="post portfolio_post portfolio_post_1 first even {{ portf.category }}">
                      {% if portf.largeImage %}
                      <div class="post_pic portfolio_post_pic"> <a class="w_hover img-link img-wrap" href="images/portfolio/{{ portf.largeImage }}"> 
                      {% else %}
                      <div class="post_pic portfolio_post_pic"> <a class="w_hover img-link img-wrap" href="images/portfolio/{{ portf.image }}"> 
                      {% endif %}
                      <span class="overlay"></span> <span class="link-icon"></span> <img src="images/portfolio/{{ portf.image }}" alt="{{ portf.name }}" /> </a> </div>
                      <h4 class="post_title"><a href="{% if portf.link %}{{ portf.link }}{% else %}{{ portf.url }}{% endif %}" target="_blank">{{ portf.name }}</a></h4>
                      <h5 class="post_subtitle">{{ portf.tecnology }}</h5>
                    </article>
                  {% endfor %}
                </div>
                <div class="portfolio_iso_pages">
                  <ul id="portfolio_iso_pages">
                  </ul>
                  <div id="portfolio_iso_pages_2"> Page <span id="portfolio_iso_pages_current">1</span> of <span id="portfolio_iso_pages_total"></span> </div>
                </div>
              </div>
            </div>
            <!-- .section_body --> 
          </section>
          <!-- /PORTFOLIO --> 