<section class="section profile_section first odd" id="profile">
  <a id="blog_page_link" href="../GameDev/">
    <span class="icon-pencil icon"></span><span class="label">Blog</span>
  </a>
  <div class="section_header profile_section_header opened">
    <h2 class="section_title profile_section_title vis"><a href="#"><span class="icon icon-user"></span><span class="section_name">Profile</span></a><span
        class="section_icon"></span></h2>
    <div id="profile_header">
      <div id="profile_user">
        <div id="profile_photo"><img src="{{ page.presentation.image }}" alt="{{ page.presentation.name }}" /></div>
        <div id="profile_name_area">
          <div id="profile_name">
            <h1 id="profile_title">{{ page.presentation.name }}</span></h1>
            <h4 id="profile_position">{{ page.presentation.title }}</h4>
          </div>
        </div>
      </div>
      <div id="profile_data">
        <div class="profile_row name">
          <span class="th">Name:</span><span class="td">{{ page.presentation.name }}</span>
        </div>
        <div class="profile_row birth">
          <span class="th">Age:</span><span class="td" name="edad">22</label>
        </div>
        <div class="profile_row address">
          <span class="th">Address:</span><span class="td">{{ page.presentation.adress }}</span>
        </div>
        <div class="profile_row phone">
          <span class="th">Phone:</span><span class="td">{{ page.presentation.phone }}</span>
        </div>
        <div class="profile_row email">
          <span class="th">Email:</span><span class="td">
            <a href="mailto:{{ page.presentation.email }}">{{ page.presentation.email }}</a>
          </span>
        </div>

      </div>
    </div>
  </div>
  <div class="section_body profile_section_body">
    <div class="proile_body"> {{ content }}

    </div>
    <script type="text/javascript">
      function getDate(dateString) {
        var birthdate = new Date(dateString);
        var cur = new Date();
        var diff = cur - birthdate;
        var age = Math.floor(diff / 31536000000);
        return age;
      }
      edades = document.getElementsByName("edad");
      for (var i = 0; i < edades.length; i++) {
        edades[i].innerHTML = getDate("1993/11/11") + " years";
      }
      document.getElementById("edad").innerHTML = getDate("1993/11/11") + " years";
    </script>
  </div>
</section>