<section class="section resume_section even" id="resume">
  <div id="resume_buttons">
    <!--a target="_blank" id="resume_link" href="print.html"><span class="label">Print</span><span class="icon-print icon"></span></a-->
    <a href="{{ page.curriculum }}" target="_blank" id="resume_link_download"><span class="label">Download</span><span
        class="icon-download icon"></span></a> </div>
  <div class="section_header resume_section_header">
    <h2 class="section_title resume_section_title"><a href="#"><span class="icon icon-align-left"></span><span class="section_name">Resume</span></a><span
        class="section_icon"></span></h2>
  </div>
  <div class="section_body resume_section_body">
    <div class="sidebar resume_sidebar">
      <aside class="widget widget_skills">
        <h3 class="widget_title">Frameworks and Technologies</h3>
        <div class="widget_inner style_1">

          {% for technology in page.skills.technologies %}
          <div class="skills_row {% cycle 'odd', 'even' %}{% if forloop.first == true %} first{% endif %}">
            <span class="caption">{{technology.name}}</span>
            <span class="progressbar">
              <span data-process="{{technology.percentage}}%" class="progress {{technology.color}}">
                <span class="value">{{technology.percentage}}%</span>
              </span>
            </span>
          </div>
          {% endfor %}
        </div>
      </aside>
      <aside class="widget widget_skills">
        <h3 class="widget_title">Language Skills</h3>
        <div class="widget_inner style_2">
          {% for lang in page.skills.languages %}

          <div class="skills_row {% cycle 'odd', 'even' %}">
            <span class="legend {% cycle 'blue', 'red', 'green', 'yellow', 'aqua' %}"></span>
            <span class="caption">{{lang}}</span>
          </div>

          {% endfor %}
        </div>

      </aside>

      <aside class="widget widget_skills">
        <h3 class="widget_title">Certifications</h3>
        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="bdf47c43-180b-41f4-a1ff-ed0b49f7ce73"></div>
        <script type="text/javascript">
          (function () {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//cdn.youracclaim.com/assets/utilities/embed.js';
            var o = document.getElementsByTagName('script')[0];
            o.parentNode.insertBefore(s, o);
          })();
        </script>
      </aside>

      <!--aside class="widget widget_skills">
        <h3 class="widget_title">Language skills</h3>
        <div class="widget_inner style_3">
          <div class="skills_row odd"><span class="caption">Spanish</span><span class="progressbar"><span data-process="100%"
                class="progress yellow"></span></span>
          </div>
          <div class="skills_row odd first"><span class="caption">English</span><span class="progressbar"><span data-process="90%"
                class="progress aqua"></span></span>
          </div>
          <div class="skills_row even"><span class="caption">French</span><span class="progressbar"><span data-process="60%" class="progress green"></span></span></div>
        </div>
      </aside-->

    </div>
    <div class="wrapper resume_wrapper">
      <div class="category resume_category resume_category_1 first even">
        <div class="category_header resume_category_header">
          <h3 class="category_title"><span class="category_title_icon aqua"></span>Employment</h3>
        </div>
        <div class="category_body resume_category_body">

          {% for employment_item in site.employment reversed %}
          <article class="post resume_post resume_post_1 first even">
            <div class="post_header resume_post_header">
              <div class="resume_period">{{ employment_item.duration }}</div>
              <h4 class="post_title"><span class="post_title_icon aqua"></span><a href="http://{{ employment_item.website }}"
                  target="_blank">{{ employment_item.company }}</a></h4>
              <h5 class="post_subtitle">{{ employment_item.title }}</h5>
            </div>
            <div class="post_body resume_post_body">
              <p>{{ employment_item.content }}</p>
              <br>
            </div>
          </article>
          {% endfor %}
        </div>
        <!-- .category_body -->
      </div>
      <!-- .category -->
      <div class="category resume_category resume_category_2 odd">
        <div class="category_header resume_category_header">
          <h3 class="category_title"><span class="category_title_icon green"></span>Education</h3>
        </div>
        <div class="category_body resume_category_body">

          {% for edu in site.education reversed %}
          <article class="post resume_post resume_post_1 first even">
            <div class="post_header resume_post_header">
              <div class="resume_period">{{ edu.duration }}</div>
              <h4 class="post_title"><span class="post_title_icon green"></span>
                {% if edu.website %}<a href="{{ edu.website }}" target="_blank">{% endif %}
                {{ edu.school }}
                {% if edu.website %}</a>{% endif %}
              </h4>
              <h5 class="post_subtitle">{{ edu.career }}</h5>
            </div>
            <div class="post_body resume_post_body">
              <p>{{ edu.content }}</p>
            </div>
          </article>
          {% endfor %}
        </div>
        <!-- /category_body -->
      </div>
      <!-- /category -->
    </div>
    <!-- /wrapper -->
  </div>
  <!-- /section_body -->
</section>