<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ '/img/favicon.ico' | url }}" />
        <meta name="theme-color" content="#15202B" />
        <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
        {% include "partials/metadata.html" %} {% include "analytics.html" %}
    </head>

    <body
        class="bg-brand-blue text-white font-sans antialiased selection:bg-brand-orange selection:text-white"
    >
        {% block content %} {% endblock %} {% include "footer.html" %}
    </body>
</html>
