{% extends "layouts/base.html" %}

{% block content %}
{% include "navbar.html" %}

<div class="portfolio">


  <section class="portfolio-section odd-section" id="title">
    <div class="vertical-center align-point">
      <div class="container">
        <div style="font-size: 3em;">Hi, I am</div>
        <div class="portfolio-name">{{ user.name }}.</div>
        <div class="portfolio-slogan">I create experiences.</div>
        <p style="font-size: 24px; width: 70%">{{ description }}</p>
        <a href="mailto:{{ user.email }}" target="_blank">
          <i class="fa fa-envelope fa-3x media-circle" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/{{ user.github }}" rel="noreferrer" target="_blank">
          <i class="fab fa-github-alt fa-3x media-circle" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/{{ user.linkedin }}" rel="noreferrer" target="_blank">
          <i class="fab fa-linkedin fa-3x media-circle" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </section>

  <section class="portfolio-section even-section" id="about">
    <div class="vertical-center align-point">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="{{ image }}" alt="profile" class="about-img  img-float">
          </div>
          <div class="col-lg-6">
            <h1 style="font-size: 64px">About me</h1>
            <hr class="my-2">
            {{ content | safe }}
            <ul class="skill-container">
              {% for tech in technologies %}
              <li class="skill-detail">{{ tech }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="tech-stack row">
          <div class="col-md-2">
            <div class="tech-container img-float">
              <img src="{{ '/img/stack/unity-logo.png' | url }}" alt="tech" class="tech-pic mx-auto d-block" />
            </div>
          </div>

          <div class="col-md-2">
            <div class="tech-container img-float row text-center" >
              <img src="{{ '/img/stack/svelte.svg' | url }}" alt="tech" class="tech-pic mx-auto d-block" />
            </div>
          </div>

          <div class="col-md-2">
            <div class="tech-container img-float">
              <img src="{{ '/img/stack/flutter-logo.png' | url }}" alt="tech" class="tech-pic mx-auto d-block" />
            </div>
          </div>

          <div class="col-md-2">
            <div class="tech-container img-float">
              <img src="{{ '/img/stack/docker-logo.png' | url }}" alt="tech" class="tech-pic mx-auto d-block" />
            </div>
          </div>

          <div class="col-md-2">
            <div class="tech-container img-float">
              <img src="{{ '/img/stack/typescript-logo.png' | url }}" alt="tech" class="tech-pic mx-auto d-block" />
            </div>
          </div>

          <div class="col-md-2">
            <div class="tech-container img-float">
              <img src="{{ '/img/stack/ethereum-logo.png' | url }}" alt="tech" class="tech-pic mx-auto d-block" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="odd-section long-section" id="experience">

    <div class="vertical-center">
      <div class="container">
        <div style="max-width: 450px">
          <h1 class="section-header">Where I worked</h1>
          <hr class="my-2 even">
        </div>
        <br class="divider" />

        {% for job in collections.employment %}
        <div class="xp-card">
          <div class="xp-card-upper-title">
            <div class="xp-card-title" style="float:left">
              <a href="{{ job.data.website }}">{{ job.data.company }}</a>
            </div>
            <span class="xp-card-time">{{ job.data.duration }}</span>
          </div>
          <hr class="my-2 even">
          <div class="xp-card-title">{{ job.data.title }}</div>
          <p>{{ job.content | safe }}</p>
          <ul class="skill-container">
            {% for job_tech in job.data.technologies %}
            <li class="skill-detail">{{ job_tech }}</li>
            {% endfor %}
          </ul>
        </div>

        {% if loop.last == false %}
        <div class="xp-line-container">
          <div class="xp-line"></div>
        </div>
        {% endif %}

        {% endfor %}

      </div>
    </div>
  </section>

  <section class="even-section long-section" id="work">
    <div class="vertical-center">
      <div class="container">
        <div style="max-width: 550px">
          <h1 class="section-header">Some things I built</h1>
          <hr class="my-2">
        </div>
        <div class="row" style="margin-bottom: 100px;">
          {% for portf in collections.featured %}
          <div class="col-lg-4">
            <a href="{% if portf.data.link %}{{ portf.data.link }}{% else %}{{ portf.url }}{% endif %}"
              class="hovering-link" rel="noreferrer">
              <div class="featured-container">
                <div class="featured-image-container">
                  <img class="featured-image" src="{{ '/img/portfolio/' | url }}{{ portf.data.image }}"
                    alt="{{ portf.data.title }}" />
                </div>
                <div class="featured-text-container work-text-container work-text-content">
                  <h3>{{ portf.data.title }}</h3>
                  <p>{{ portf.data.description }}</p>
                  <div class="middle-color">{{ portf.data.technology }}</div>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}



        </div>

        <div style="max-width: 270px">
          <h1 style="font-size: 36px">Other mentions</h1>
          <hr class="my-4">
          <p>
            <u>
              <a href="{{ page.user.developer-story }}" target="_blank" rel="noreferrer">
                See all of them in my developer story
              </a>
            </u>
          </p>
        </div>

        <div style="margin: auto; max-width: 850px;">
          <div class="row">

            {% for portf in collections.portfolio %}
            {% if portf.data.featured != true %}
            <div class="col-lg-4">
              <a href="{% if portf.data.link %}{{ portf.data.link }}{% else %}{{ portf.url }}{% endif %}"
                rel="noreferrer">
                <div class="work-text-container">
                  <div class="centered-content work-text-content" style="width: 90%;">
                    <h3>{{ portf.data.title }}</h3>
                    <p>{{ portf.data.description }}</p>
                    <div class="middle-color">{{ portf.data.technology }}</div>
                  </div>
                </div>
              </a>
            </div>
            {% endif %}
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </section>

  {% include "footer.html" %}
</div>

{% endblock %}
