{% extends "layouts/base.html" %}

{% if image %}
{% set socialImage = image %}
{% endif %}

{% block content %}
<nav class="navbar smart-scroll navbar-expand-lg navbar-dark odd-section">
  <div class="container">
    <a class="navbar-brand" href="{{ '/' | url }}">Javier Bullrich</a>
  </div>
</nav>
<div class="portfolio">
  <section class="long-section even-section" id="title">
    <div class="vertical-center align-point">
      <div class="container">
        <h1 class="article-title">{{name}}</h1>
        <p>
          {{content | safe }}
        </p>
      </div>
    </div>
  </section>

  {% include "footer.html" %}
</div>
{% endblock %}
