@import "tailwindcss";

@theme {
    --color-brand-blue: #15202B;
    --color-brand-orange: #F26522;
    --color-brand-purple: #6C63FF;
    --color-brand-green: #00B87C;
    --font-sans: 'Inter', sans-serif;
}

/* Custom base styles mapping to our theme */
@layer base {
    body {
        background-color: var(--color-brand-blue);
        color: white;
        font-family: var(--font-sans);
    }
}