<!DOCTYPE html>
<html lang="en">
<head>
  {% include base.html %}
  {% include head.html %}
</head>
<body>
<div class="portfolio">
  <section class="portfolio-section odd-section" id="title">
    <div class="vertical-center align-point">
      <div class="container">
        <div style="font-size: 48px;">Oops</div>
        <div class="portfolio-name">404</div>
        <div class="portfolio-slogan">Page Not Found.</div>
        <p style="font-size: 24px; width: 70%">We are sorry, but the page you requested can not be found</p>
      </div>
    </div>
  </section>

  {% include footer.html %}
</div>
</body>
</html>