<!DOCTYPE html>
<html lang="en">
<head>
  {% include base.html %}
  {% include head.html %}
  <link rel="stylesheet" href="{{ base }}css/navbar.css">
</head>
<body>
<!-- taken from https://bootstrap-menu.com/detail-smart-hide.html -->
<nav class="navbar smart-scroll navbar-expand-lg navbar-dark odd-section">
  <div class="container">
    <a class="navbar-brand" href="{{ base }}">Javier Bullrich</a>
  </div>
</nav>
<div class="portfolio">
  <section class="long-section even-section" id="title">
    <div class="vertical-center align-point">
      <div class="container">
        <h1 style="font-size: 64px">{{ page.title }}</h1>
        <p>
          {{content}}
        </p>
        {% for post in site.posts %}
        <h2><a href={{ post.url }}>{{ post.title }}</a></h2>
        <h6 style="font-size: 14px">{{ post.date | date: "%B %Y"}}</h6>
        <p>{{ post.excerpt }}</p>
        {% endfor %}
      </div>
    </div>
  </section>

  {% include footer.html %}
</div>
</body>
<style>
  h2 {
    padding-top: 20px;
  }
</style>
</html>