<!DOCTYPE html>
<html lang="en">
<head>
  {% include base.html %}
  {% include head.html %}
  <link rel="stylesheet" href="{{ base }}css/navbar.css">
</head>
<body>
<!-- taken from https://bootstrap-menu.com/detail-smart-hide.html -->
<nav class="navbar smart-scroll navbar-expand-lg navbar-dark odd-section">
  <div class="container">
    <a class="navbar-brand" href="{{ base }}blog">Javier Bullrich</a>
  </div>
</nav>
<div class="portfolio">
  <section class="long-section even-section" id="title">
    <div class="vertical-center align-point">
      <div class="container blog-post">
        <h1 class="article-title">{{page.title}}</h1>
        <h6 style="font-size: 14px">{{ page.date | date: "%d %B %Y" }}</h6>
        <hr/>
        <p>
          {{content}}
        </p>
      </div>
    </div>
  </section>

  {% include footer.html %}
</div>
</body>
</html>
