<!DOCTYPE html>
<html>

{% include head.html %}

<body class="home blog dark">
  {% include header.html %}

  <div class="switherHead"></div>
  <div class="colored">
    <div class="blue"></div>
    <div class="aqua"></div>
    <div class="green"></div>
    <div class="yellow"></div>
    <div class="red"></div>
  </div>
  <div class="hfeed site" id="page">
    <header role="banner" class="site_header" id="header">
      <div class="social_links">
        <ul>
        <li><a href="https://stackoverflow.com/users/story/4330018" target="_blank" title="StackOverflow"><i class="fab fa-stack-overflow"></i></a></li>
        <li><a href="https://ar.linkedin.com/in/javibullrich/en" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="https://github.com/Bullrich" target="_blank" title="Github"><i class="fab fa-github"></i></a></li>
        </ul>
      </div>
    </header>
    <div id="main">
      <div class="content_area" id="primary">
        <div role="main" class="site_content" id="content">
          {% include profile.html %}
          <div id="mainpage_accordion_area">

            {% include resume.html %} 
            
            {% include portfolio.html %} 
            
            {% comment %} 
            
            {% include contact.html %} 
            
            {% endcomment %}

          </div>
          <!-- #mainpage_accordion_area -->
        </div>
        <!-- #content -->
      </div>
      <!-- #primary -->
    </div>
    <!-- #main -->

    {% include footer.html %}

</html>