<!DOCTYPE html>
<html>

{% include base.html %}

{% include head.html %}

<body class="home blog dark">

  {% include header.html %}

    <div id="main">
      <div class="content_area" id="primary">
        <div role="main" class="site_content" id="content">
          {% include profile.html %}
          <div id="mainpage_accordion_area">

            {% include resume.html %} 
            
            {% include portfolio.html %} 
            
            {% comment %} 
            
            {% include contact.html %} 
            
            {% endcomment %}

          </div>
          <!-- #mainpage_accordion_area -->
        </div>
        <!-- #content -->
      </div>
      <!-- #primary -->
    </div>
    <!-- #main -->

    {% include footer.html %}

  </body>

</html>