<!DOCTYPE html>
<html class="csstransforms csstransforms3d csstransitions mac firefox firefox62 gecko gecko62" lang="en-US">

{% include base.html %}

{% include head.html %}

<body class="home blog dark">

  {% include header.html %}

  <div id="main" class="right_sidebar single">
    <section id="profile" class="section profile_section odd first blog_page"> <a href="{{base}}index.html" id="profile_page_link"><span
          class="icon-user icon"></span><span class="label">Profile</span></a>
      <div class="section_header profile_section_header">
        <div id="profile_header">
          <div id="profile_user">
            <div id="profile_photo"><img src="{{ base }}{{ site.presentation.image }}" alt="{{ site.presentation.name }}"></div>
            <div id="profile_name_area">
              <div id="profile_name">
                <h1 id="profile_title">{{ site.presentation.name }}</h1>
                <h4 id="profile_position">{{ site.presentation.title }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="primary" class="content_area">
      <div id="content" class="site_content post_content" role="main">
        <section class="section post_section blog_section">
          <div class="section_header post_section_header ">
            <h2 class="section_title post_section_title"><strong><span class="icon icon-pencil"></span><span class="section_name">{{
                  page.date | date: "%b %Y"}}</span></strong></h2>
          </div>
          <!-- <div class="section_body post_section_body"> -->
          <article class="post">
            <h3 class="post_title">{{page.title}}</h3>
            <div class="content_text">
              {% if page.video %}
              {% include video-preview.html video=page.video %}
              {% else %}
              <img src="{{base}}images/portfolio/{{page.image}}" style="max-height: 300px; width: auto">
              {% endif %}
              {{content}}
              {% if page.playstore %}
              <a href='https://play.google.com/store/apps/details?id={{ page.playstore }}' target="_blank">
                <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'
                  style="max-height: 50px; width: auto" />
              </a>
              {% endif %}{% if page.appstore %}
              <br> <a href="https://itunes.apple.com/app/splashy-cats-endless-zigzag/{{ page.appstore }}?mt=8" target="_blank"
                rel="external" title="Splashy Cats Arcade for iOS" itemprop="installUrl">
                <img src="{{ base }}images/appstore.png" alt="iOS AppStore" title="AppStore" style="max-height: 40px; width: auto">
              </a>
              {% endif %}
              {% if page.game %}
              <a href="../games/{{ page.game }}">Play it online!</a>
              {% endif %}
            </div>
            <div class="tags_section">
              <div class="tags_label">Technology:</div>
              <ul id="post_tags">
                <li><a href="#">{{ page.tecnology }}</a></li>
              </ul>
            </div>

          </article>

          <!-- #post_content -->
        </section>
      </div>
      <!-- #primary -->
    </div>
  </div>
  <!-- #page -->

  {% include footer.html %}

</body>

</html>