<!DOCTYPE html>
<html class="csstransforms csstransforms3d csstransitions mac firefox firefox62 gecko gecko62" lang="en-US">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>ShiftCV</title>
  <link rel="shortcut icon" type="image/x-icon" href="http://shifthtml.themerex.net/images/favicon.ico">
  <link rel="stylesheet" type="text/css" media="all" href="style/style.css">
  <link rel="stylesheet" type="text/css" media="all" href="style/responsive.css">
  <!--[if lt IE 9]>
	<script src="js/html5.js" type="text/javascript"></script>
<![endif]-->
  <script type="text/javascript" charset="UTF-8" src="style/common.js"></script>
  <script type="text/javascript" charset="UTF-8" src="js/util.js"></script>
  <script type="text/javascript" charset="UTF-8" src="js/stats.js"></script>
</head>

<body class="home blog dark">
  <div class="switherHead"></div>
  <div class="colored">
    <div class="blue"></div>
    <div class="aqua"></div>
    <div class="green"></div>
    <div class="yellow"></div>
    <div class="red"></div>
  </div>
  <div class="hfeed site" id="page">
    <header role="banner" class="site_header" id="header">
      <div class="social_links">
        <ul>
          <li class="rss"><a href="#" target="_blank" title="RSS">RSS</a></li>
          <li class="fb"><a href="#" target="_blank" title="Facebook">Facebook</a></li>
          <li class="tw"><a href="#" target="_blank" title="Twitter">Twitter</a></li>
          <li class="gplus"><a href="#" target="_blank" title="Google+">Google+</a></li>
          <li class="lnkd"><a href="#" target="_blank" title="Linkedin">Linkedin</a></li>
          <li class="drb"><a href="#" target="_blank" title="Dribbble">Dribbble</a></li>
          <li class="vim"><a href="#" target="_blank" title="Vimeo">Vimeo</a></li>
          <li class="pin"><a href="#" target="_blank" title="Pinterst">Pinterst</a></li>
        </ul>
      </div>
    </header>
    <div id="main" class="right_sidebar single">
      <section id="profile" class="section profile_section odd first blog_page"> <a href="http://shifthtml.themerex.net/index.html"
          id="profile_page_link"><span class="icon-user icon"></span><span class="label">Profile</span></a>
        <div class="section_header profile_section_header">
          <div id="profile_header">
            <div id="profile_user">
              <div id="profile_photo"><img src="shift_post_files/bigstock-Portrait-Of-A-Beautiful-Mature-7014470-234x234.jpg"
                  alt="Jefferson Sarah"></div>
              <div id="profile_name_area">
                <div id="profile_name">
                  <h1 id="profile_title"><span class="firstname">Sarah</span> <span class="lastname">Jefferson</span></h1>
                  <h4 id="profile_position">Designer</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div id="primary" class="content_area">
        <div id="content" class="site_content post_content" role="main">
          <section class="section post_section blog_section">
            <div class="section_header post_section_header ">
              <h2 class="section_title post_section_title"><strong><span class="icon icon-pencil"></span><span class="section_name">Jul.04</span></strong></h2>
              <div class="post-info"> <a href="http://shifthtml.themerex.net/author.html" class="post_author"><span
                    class="icon icon-user"></span>admin</a> <span class="post_categories"><span class="icon-align-left"></span><a
                    href="http://shifthtml.themerex.net/blog-category-arhive.html" class="post_categories even first">Post</a>,<a
                    href="http://shifthtml.themerex.net/blog-category-arhive.html" class="post_categories odd last">Images</a></span>
                <a href="http://shifthtml.themerex.net/blog-category-arhive.html" class="comments_count"><span class="icon icon-comment"></span>0</a>
              </div>
            </div>
            <!-- <div class="section_body post_section_body"> -->
            <article class="post">
              <h3 class="post_title">Quisque odio eros</h3>
              <div class="post_thumb"> <img src="shift_post_files/girl.jpg" alt="Quisque odio eros"> </div>
              <div class="content_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                  elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                  ut aliquip ex ea commodo consequat. <span id="more-42"></span></p>
                <blockquote class="sc_quote sc_quote_style_1"><span class="quotes icon-quote-left"></span>Ut enim ad
                  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                  elit. Pellentesque consequat nisl erat, non tincidunt justo congue
                  vitae. Maecenas bibendum pretium mi sed dignissim. Duis id posuere
                  neque. Curabitur quis aliquet lacus, faucibus tempus dolor. Nunc
                  porttitor justo urna, id pulvinar felis congue a. Aliquam sit amet
                  ullamcorper diam. Morbi eu enim vitae metus laoreet accumsan.</p>
                <ul>
                  <li>Lorem ipsum dolor sit amet</li>
                  <li>Consectetur adipisicing elit</li>
                  <li>Sed do eiusmod tempor</li>
                </ul>
                <p><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipisicing elit, sed do eiusmod tempor
                  incididunt ut <em>labore et dolore magna</em> aliqua. Ut enim <span class="allocation_white">ad minim
                    veniam,</span> quis nostrud exercitation <span class="allocation_dark">ullamco laboris nisi</span>
                  ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore.</p>
              </div>
              <div class="tags_section">
                <div class="tags_label">Tags:</div>
                <ul id="post_tags">
                  <li><a href="http://shifthtml.themerex.net/blog-category-arhive.html">Video</a></li>
                  <li><a href="http://shifthtml.themerex.net/blog-category-arhive.html">Audio</a></li>
                  <li><a href="http://shifthtml.themerex.net/blog-category-arhive.html">Blog</a></li>
                </ul>
              </div>

            </article>

            <!-- #post_content -->
          </section>
        </div>
        <!-- #primary -->
      </div>
    </div>
    <!-- #main -->
    <footer role="contentinfo" class="site_footer" id="footer">
      <div class="footer_copyright"> ThemeREX © 2013 All Rights Reserved </div>
    </footer>
  </div>
  <!-- #page -->

  <!-- connect js -->
  <script type="text/javascript" src="js/jquery_005.js"></script>
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/jquery_006.js"></script>
  <script type="text/javascript" src="js/jquery_009.js"></script>
  <script type="text/javascript" src="js/jquery_003.js"></script>
  <script type="text/javascript" src="js/jquery_002.js"></script>
  <script type="text/javascript" src="js/mediaelement.js"></script>
  <script type="text/javascript" src="js/jquery_004.js"></script>
  <script type="text/javascript" src="js/googlemap_init.js"></script>
  <script type="text/javascript" src="js/jquery_008.js"></script>
  <script type="text/javascript" src="js/jquery_007.js"></script>
  <script type="text/javascript" src="js/js.js"></script>
  <script type="text/javascript" src="js/utils.js"></script>
  <script type="text/javascript" src="js/lib.js"></script>


</body>

</html>